/HABLA
/audioMNIST
/ASVspoof2021.ipynb
/Memoria/Memoria\ XplicaVoz.aux
/Memoria/Memoria\ XplicaVoz.bbl
/Memoria/Memoria\ XplicaVoz.blg
/Memoria/Memoria\ XplicaVoz.log
/Memoria/Memoria\ XplicaVoz.out
/Memoria/Memoria\ XplicaVoz.synctex.gz
/Memoria/Memoria\ XplicaVoz.toc